<footer class="footer bg-dark py-3 mt-auto px-5">
  <div class="d-flex justify-content-between">
    <div class="text-light">
      Developed by :
      <a href="https://github.com/Khushal-ag/Tripify" class="text-light" target="_blank"
        >Team Tripify</a
      >
    </div>
    <div class="text-light">
      <span class="text-muted">&copy; 2024 Copyright :</span> Tripify
    </div>
  </div>
</footer>
